export(EMforCFR)
export(dic.fit)
export(dic.fit.mcmc)
export(generate.coarse.data)
export(get.obs.type)
export(loglikhd)
export(precision.simulation)
export(precision.simulation.coarse)
export(precision.simulation.exact)
exportClasses(cd.fit)
exportClasses(cd.fit.mcmc)
exportMethods(logLik)
exportMethods(plot)
