export(dic.fit.mcmc)
export(dic.fit)
export(EMforCFR)
export(generate.coarse.data)
export(get.obs.type)
export(loglikhd)
export(precision.simulation.coarse)
export(precision.simulation.exact)
export(precision.simulation)
exportClasses(cd.fit.mcmc)
exportClasses(cd.fit)
exportMethods(logLik)
exportMethods(plot)
importFrom(graphics,plot)
importFrom(MCMCpack,MCMCmetrop1R)
importFrom(stats,logLik)
importFrom("grDevices", "rgb")
importFrom("graphics", "lines")
importFrom("methods", "new")
importFrom("stats", "coef", "dgamma", "dlnorm", "dnbinom", "dnorm",
           "dweibull", "glm", "integrate", "optim", "optimize",
           "pgamma", "plnorm", "poisson", "pweibull", "qgamma",
           "qlnorm", "qnorm", "qt", "quantile", "qweibull", "rlnorm",
           "rnorm", "runif", "sd", "vcov")
importFrom("utils", "data", "setTxtProgressBar", "txtProgressBar")